* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Volkhov', serif;
}

/* brandlogo */
#brand-logo navbar-brand {
    position: relative;
    font-size: 32px;
    padding: 0px;
}

#brand-logo span {
    font-family: 'Volkhov', serif;
    font-size: 32px;
    color: #fb811e;
}

#brand-logo i {
    position: absolute;
    top: 8px;
    left: 70px;
    font-size: 20px;
    color: #fb811e;
}

#brand-logo .navbar-brand:hover span,
#brand-logo .navbar-brand:hover i {
    color: #000;
    transition: all 0.5s;
}


/* 1. HEADER */

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-fixed {
    padding: 0px;
    border-bottom: none;
    z-index: 99 !important;
    background-color: #fff !important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    height: 70px;
}


.navbar input {
    background: rgb(250, 250, 250) url(../img/search.png) no-repeat 10px center;
    border: solid 1px #eee;
    padding: 0 10px;
    width: 35px;
    height: 35px;
    border-radius: 10em;
    transition: all .5s;
    cursor: pointer;
}

.navbar input:focus {
    width: 200px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    padding-right: 15px;
}

.navbar ul {
    align-items: center;
}

.navbar li.nav-item i {
    font-size: 28px;
    color: #fff;
}

.nav-fixed .navbar li.nav-item i{
    color: #000;
}
.nav-fixed .navbar .nav-link span{
    color: #000;
}


.navbar li.nav-item i:hover {
    color: #fb811e;
}

.navbar .dropdown-toggle::after {
    display: none;
}

.navbar .dropdown span {
    font-size: 28px;
}

.navbar .nav-link span {
    color: #fff;
}

.navbar .dropdown-menu {
    overflow: hidden;
    text-align: center;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    background-color: #fff;
    width: 14em;

}

.navbar .dropdown-menu .dropdown-item {
    display: block;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.dropdown-item {
    background-color: transparent;

}

.dropdown-item-active {
    color: #fb811e;
    font-weight: 600;
    background-color: transparent;

}

.dropdown-item:hover {
    background-color: transparent;
    color: #fb811e;
}

/* 2. BANNER */
/* Banner Left */
.banner .row{
    position: relative;
}
.banner-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10em;
    z-index: 1;
}


.banner-left-content .farm-text {
    color: #eee;
    font-size: 100px;
    font-weight: bold;
    margin-left: -0.5em;
}

.banner-left-content h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    margin-top: -1.5em;
}

.banner-left-content p {
    font-size: 20px;
    color: grey;
}

.btn {
    background-color: #fb811e;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.btn:hover {
    background-color: #009f4d;
    color: #fff;
    transition: all 1s;
}

/* Banner Right */

.banner-right {
    margin-left: auto;
}

.banner-right .mySlides {
    position: relative;
    z-index: -1;
}

.banner-right .mySlides .numbertext {
    position: absolute;
    bottom: 70px;
    right: 10px;
    color: white;
    font-size: 24px;
}

.banner-right .mySlides .text {
    position: absolute;
    bottom: 50px;
    right: 10px;
    font-size: 18px;
    color: white;
}

.banner-right .mySlides img {
    border-radius: 0 0 0 30px;
    height: 100vh;
}

.slideshow-container {
    position: relative;
}

.slideshow-container .indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {

    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.banner .active,
.dot:hover {
    background-color: #fb811e;
}

/* features */
.container {
    max-width: 1200px;
    margin: auto;
}

.features {
    padding: 5rem 0;
    /* background-color: #222222; */
}

.features .row {
    align-items: center;
}

.features .row .left {
    width: 50%;
}

.features .row .left h5 {
    color: orange;
    font-size: 25px;
}

.features .row .left h3 {
    font-size: 50px;
    font-weight: 600;
}

.features .row .left p {
    color: grey;
}

.features .row .right {
    width: 50%;
}

.features .row .right .owl-carousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.features .row .right .item {
    padding: 1rem;
    /* background-color: #222121; */
    text-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 10px 10px 10px 10px #efefef;
}


.features .row .right .item:hover {
    box-shadow: none;
    transition: all 0.5s;
}


.features .row .right .item img {
    margin-bottom: 20px;
    width: 40%;
}

.features .row .right .item p {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.features__Button {
    padding: 15px 25px;
    border-style: none;
    background-color: #fb811e;
    border-radius: 30px;
    margin-top: 1rem;
    color: #ffffff;
    font-weight: 600;
}

.features__Button:hover {
    background-color: #009f4d;
    transition: all 1s;
}

/* services */
.services {
    padding: 5rem 0;
    background-color: #009f4d;
}

.services .title {
    z-index: 1;
}

.services .title .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services .title .row .section_heading h5 {
    font-size: 20px;
    color: #ffffff;
}

.services .title .row .section_heading h3 {
    font-size: 40px;
    color: #ffffff;
}

.services .title .row .section_heading p {
    font-size: 20px;
    color: #ffffff;
}

.services .row h4 {
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: .14;
    font-size: 12vw;
    right: 50%;
    left: 30%;
}

.services .title h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
}

.services__content .owl-carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.services__content .owl-carousel .services__item {
    width: 100%;
    text-align: left;
    border-radius: 30px;
    background: #fff;
}

.services__content .owl-carousel .services__item img {
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.services__header {
    position: relative;
}

.services__body span {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    color: #009f4d;
    left: 15px;
    background: rgb(0 159 77 / 16%);
    margin-top: 20px;
}

.services__body {
    padding: 30px 20px 10px 20px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.services__body h3 {
    margin-top: 40px;
}

.services .title .services__body p {
    font-size: 20px;
    color: gray;
    margin-bottom: 30px;
}



/* 5. EXP */

.exp {
    position: relative;
    display: block;
}

.exp .row {
    align-items: center;
}

.exp-left h5 {
    color: #fb811e;
    font-size: 22px;
}

.exp-left h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
}

.exp-left p {
    color: grey;
    font-size: 20px;
}

.exp-left .grid-item .fa {
    color: #fb811e;
    font-size: 30px;
}

.exp-left .grid-item h4 {
    font-weight: 600;
    font-size: 24px;
}

.exp-left .grid-item p {
    color: grey;
    font-size: 20px;
}

.exp-right {
    position: relative;
    right: -5em;
    width: 100%;
}

.exp-right img {
    border-radius: 30px;
    width: 100%;
    display: block;
    height: auto;
}

.exp-right .exp-info {
    background-color: #fb811e;
    color: #fff;
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}

.exp-right .exp-info h6 {
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-weight: 600;
}

.exp-right .exp-info p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2px;
}

/* 6. PRODUCT */

.product .product-item {
    padding: 1.5rem 0.5rem;
    border-color: transparent;
}

.product .product-item:hover {
    text-decoration: none;
    border: 1px solid #eee;
    box-shadow: -1px 2px 12px -9px #00000069;
    border-radius: 10px;
    transition: all 0.3s;
}

.product .product-item:hover h4 {
    color: #009f4d;
    transition: all 0.3s;
}

.product .product-icon img {
    max-width: 100%;
}

.product .product-info h4 {
    font-weight: 600;
    color: #000;
    font-size: 22px;
    line-height: 25px;
}

.product .product-info p {
    color: grey;
    margin-top: 10px;
}

/* 7. GALLERY */
.gallery .small-title {
    color: #fb811e;
    font-size: 22px;
}

.gallery .title-style {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #000;
}

.gallery .row .gallery-item-text p {
    color: grey;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

.gallery .gallery-item {
    position:relative;
    overflow: hidden;
    cursor: pointer;
}

.gallery .gallery-item img {
    width: 100%;
}

.gallery .gallery-item .img-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 0;
    color: #fff;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    margin: 20px;
}

.gallery .gallery-item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.75s;
  
}

.gallery .gallery-item:hover::before {
    left: 125%;
}





/* testimonials */
.carousel {
    background: url(../img/bg1.jpg);
    padding: 2rem;
    height: 500px;
    width: 100%;
    box-sizing: inherit;
    background-position: top;
    background-size: cover;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    z-index: 0;
}

.carousel::before {
    content: "";
    background: rgb(10 10 10 / 52%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}


.carousel-item {
    height: 100vh;
    width: 100%;
}

.carousel .carousel-item .carousel-caption {
    top: 30%;
    left: 0%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.carousel-item .overlay {
    top: 0;
}

.carousel-item .carousel_thumnail {
    width: 40%;
    margin: auto;
}

.carousel-item .carousel_thumnail img {
    border-radius: 50%;
    max-width: 25%;
    margin-bottom: 30px;
}

.carousel-item .carousel_thumnail h5,
p {
    font-weight: 600;
}


.carousel-item .carousel_text {
    width: 60%;
    text-align: left;
}

.carousel-item .carousel_text span {
    color: #fb8532;
    font-size: 30px;
}


.carousel-item .carousel_text p {
    font-size: 25px;
}

.carousel-item .carousel_text h5 {
    font-size: 20px;
    color: #fb811e;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-indicators li::after {
    content: "";
    width: 0;
    height: 100%;
    color: #fb8532;
    display: block;
    transition: all 0.5s;
}

.carousel-indicators li:active::after {
    width: 100%;
    color: #fb8532;
}

footer {
    padding: 2rem 0;
    margin: 0;
}

.footer__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer__content .footer_item {
    width: 33.33%;
    height: auto;
}


.footer__content p {
    color: grey;
    margin-top: 20px;
}

.footer__content .footer_item_logo {
    margin-bottom: 70px;
    width: 33.33%;
}

.footer__content .footer_item .navbar-brand span {
    font-family: 'Volkhov', serif;
    color: #fb8532;
}

.footer__content .footer_item h1 {
    font-size: 25px;
    margin-top: 20px;
}

.footer__content .footer_item_logo p {
    margin-bottom: 40px;
}

#brand-logo {
    position: relative;
    font-size: 50px;
    margin-bottom: 20px;
    padding: 0px;
}

#brand-logo i {
    position: absolute;
    top: 8px;
    left: 55px;
    right: 50px;
    font-size: 20px;
    color: #fb8532;
}


.footer__content .navbar-brand:hover span,
.footer__content .navbar-brand:hover i {
    color: #000;
    transition: all 0.5s;
}

.footer__content .footer_item .footer_text {
    margin-bottom: 30px;
}

.footer__content .footer_item input {
    padding: 12px 50px;
    border: none;
    font-size: 16px;
    background: var(--bg-grey);
    color: #f4f4f4;
    border-radius: 30px 0 0 30px;
    border-style: 1px solid #eee;
}

.footer__content .footer_item input:hover {
    border-style: #fb8532;
}

.footer__content .footer_item button {
    background: #009f4d;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
}

.footer__content .footer_item form {
    margin-bottom: 30px;
}

.footer__icon a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    background-color: #e2f0e8;
    transition: all .5s;
    margin-right: 10px;
    text-align: center;
}

.footer__icon span {
    color: #009f4d;
}

.footer__icon a:hover {
    background-color: #fb86325e;
    transition: all 0.5s;
}

.footer__icon span:hover {
    color: #fb8532;
    transition: all 0.5s;
}